# Sujet:

### L‚Äôobjectif est de calculer les Volume Weighted Average Price horaires du Bitcoin, pour chacun des exchanges √† disposition

### INPUT:
Vous aurez √† disposition, sous forme de fichiers .csv, la liste des trades de bitcoin ayant eu lieu sur diff√©rents exchanges de Cryptomonnaies. Vous devrez importer les donn√©es issues des diff√©rents fichiers.
### MANIPULATION DE DONNEES:
Vous devrez ensuite modifier la structure des donn√©es pour r√©pondre √† vos besoins, probablement effectuer des jointures depuis les diff√©rents fichiers.
### CALCUL:
Enfin, une fois les donn√©es pr√©par√©es, vous pourrez passer √† l‚Äô√©tape de calcul des VWAP pour chaque tranche d‚Äôune heure, pour chaque exchange, puis au global (tous les exchanges r√©unis). Une fois le calcul effectu√©, vous pourrez nexporter vos r√©sultats sous la forme d‚Äôun nouveau fichier .csv.
Page Wikip√©dia du Volume Weighted Average Price  https://en.wikipedia.org/wiki/Volume weighted_average_price  VWAP = (‚àë(volume * prix)) / ‚àëvolume
### Avec :
- ùëÉùëâùëäùê¥ùëÉLe Prix Moyen Pond√©r√© par le Volume.
- ùëÉùëóLe prix du trade j
- ùëÑùëóLe volume du trade
- j repr√©sente chaque trade ayant eu lieu au sein d‚Äôun intervalle d‚Äôune heure.
### Autres mesures √† calculer :
- Volume Weighted Median Price
  - Page Wikip√©dia de la m√©diane pond√©r√©e : https://en.wikipedia.org/wiki/Weighted_median
  - Cr√©ez une fonction qui vous permet de choisir le mode de calcul des cas particuliers ( lower upper ,,‚Ä¶) via un param√®tre
- Ecart type
- OHLC
### Calculez les m√™mes m√©triques √† des fr√©quences diff√©rentes
- Intervalles de 5 minutes
- Intervalles de 30 minutes

### Vous devrez probablement g√©rer des valeurs manquantes. Expliquez vos choix !

### Rendu:
Le rendu du projet Python prendra la forme d‚Äôun jupyter Notebook.

Ce Jupyter Notebook devra √™tre compos√© de trois parties correspondant aux grandes √©tapes √©nonc√©es plus haut. Vous pouvez d√©limiter ces parties en les d√©notant sous forme de titre de premier niveau. Les trois parties sont les
### suivantes :
- INPUT
- MANIPULATION DES DONNEES
- CALCUL

Chacune des parties contiendra le code correspondant √† l‚Äô√©tape, et l‚Äôune des derni√®res cellules devra afficher le
r√©sultat sous la forme d‚Äôun DataFrame Pandas (ou bien un DataFrame par mesure calcul√©e).

Comme pr√©cis√© plus t√¥t, il sera important de stocker le r√©sultat final sous la forme d‚Äôun (ou plusieurs) DataFrame Pandas

Ce DataFrame devra donc, logiquement :

- √ätre index√© par des dates
- Avoir une ligne par heure de l‚Äôintervalle de temps des donn√©es fournies
- Contenir une colonne par exchange contenant le VWAP horaire sur cet exchange
- Contenir une colonne ¬´ globale ¬ª contenant le VWAP portant sur tous les trades , peu importe l‚Äôexchange

Quelques derniers points :

- Le Jupyter Notebook devra √™tre totalement ex√©cutable , sans g√©n√©rer
- Placez des commentaires au sein de vos cellules de code, ou bien d√©crivez votre code dans des cellules de texte.
- Le but est d‚Äôavoir une ¬´ documentation ¬ª de votre travail, afin que n‚Äôimporte qui puisse comprendre rapidement votre code.

# INPUT 
Dans cette premi√®re section, nous allons :

- Importer les biblioth√®ques n√©cessaires
- Charger les fichiers CSV depuis un dossier local

In [3]:
import numpy as np # import de la librairairie numpy
import pandas as pd  # import de Pandas

In [6]:
#importer les fichiers csv 
df1 = pd.read_csv('C:/Users/mamat/VWAP_Bitcoin/VWAP-Bitcoin-Analysis_SDA/bfly.csv')
df2 = pd.read_csv('C:/Users/mamat/VWAP_Bitcoin/VWAP-Bitcoin-Analysis_SDA/bfnx.csv')
df3 = pd.read_csv('C:/Users/mamat/VWAP_Bitcoin/VWAP-Bitcoin-Analysis_SDA/bnus.csv')
df4 = pd.read_csv('C:/Users/mamat/VWAP_Bitcoin/VWAP-Bitcoin-Analysis_SDA/btrx.csv')
df5 = pd.read_csv('C:/Users/mamat/VWAP_Bitcoin/VWAP-Bitcoin-Analysis_SDA/cbse.csv')
df6 = pd.read_csv('C:/Users/mamat/VWAP_Bitcoin/VWAP-Bitcoin-Analysis_SDA/gmni.csv')
df7 = pd.read_csv('C:/Users/mamat/VWAP_Bitcoin/VWAP-Bitcoin-Analysis_SDA/itbi.csv')
df8 = pd.read_csv('C:/Users/mamat/VWAP_Bitcoin/VWAP-Bitcoin-Analysis_SDA/krkn.csv')
df9 = pd.read_csv('C:/Users/mamat/VWAP_Bitcoin/VWAP-Bitcoin-Analysis_SDA/lmax.csv')
df10 = pd.read_csv('C:/Users/mamat/VWAP_Bitcoin/VWAP-Bitcoin-Analysis_SDA/okcn.csv')
df11 = pd.read_csv('C:/Users/mamat/VWAP_Bitcoin/VWAP-Bitcoin-Analysis_SDA/stmp.csv')

# MANIPULATION DE DONNEES

In [7]:
# V√©rification de la structure des donn√©e
print(df1.head())
print(df2.head())
print(df3.head())
print(df4.head())
print(df5.head())
print(df6.head())
print(df7.head())
print(df8.head())
print(df9.head())
print(df10.head())
print(df11.head())

                 timestamp     price  amount
0  2021-02-24 23:59:33.720  49712.15  0.0054
1  2021-02-24 23:44:16.980  49603.44  0.0770
2  2021-02-24 22:32:39.320  48864.19  0.1200
3  2021-02-24 22:15:19.030  48252.47  0.1200
4  2021-02-24 22:15:17.157  48247.38  0.1200
                 timestamp    price  amount
0  2021-02-24 23:59:58.181  49716.0   0.010
1  2021-02-24 23:59:58.176  49713.0   0.005
2  2021-02-24 23:59:51.526  49715.0   0.005
3  2021-02-24 23:59:46.698  49726.0   0.005
4  2021-02-24 23:59:46.353  49715.0   0.005
                 timestamp     price    amount
0  2021-02-24 23:59:58.164  49714.50  0.004413
1  2021-02-24 23:59:57.547  49727.83  0.001496
2  2021-02-24 23:59:57.244  49727.83  0.002597
3  2021-02-24 23:59:54.691  49718.68  0.000860
4  2021-02-24 23:59:51.494  49713.76  0.003694
                 timestamp      price    amount
0  2021-02-24 23:59:48.910  49742.749  0.001054
1  2021-02-24 23:59:35.050  49734.460  0.009038
2  2021-02-24 23:59:34.110  49751.270  0.000386
3  2021-02-24 23:59:31.440  49715.371  0.000554
4  2021-02-24 23:58:56.180  49751.379  0.000723
                 timestamp     price   amount
0  2021-02-24 23:59:59.873  49737.82  0.00144
1  2021-02-24 23:59:59.721  49737.82  0.00037
2  2021-02-24 23:59:59.121  49737.82  0.00294
3  2021-02-24 23:59:58.989  49737.82  0.00018
4  2021-02-24 23:59:58.853  49737.82  0.00194
                 timestamp     price    amount
0  2021-02-24 23:59:53.406  49773.07  0.003435
1  2021-02-24 23:59:53.406  49766.06  0.051690
2  2021-02-24 23:59:47.280  49746.16  0.122833
3  2021-02-24 23:59:47.280  49746.17  0.023913
4  2021-02-24 23:59:40.821  49730.12  0.000571
                 timestamp     price    amount
0  2021-02-24 23:59:48.157  49753.50  0.000100
1  2021-02-24 23:59:45.463  49753.75  0.000400
2  2021-02-24 23:59:38.887  49734.50  0.000100
3  2021-02-24 23:59:33.430  49731.25  0.002097
4  2021-02-24 23:59:32.240  49730.75  0.000182
                 timestamp    price    amount
0  2021-02-24 23:59:58.649  49727.7  0.000225
1  2021-02-24 23:59:49.807  49739.9  0.000224
2  2021-02-24 23:59:43.159  49736.3  0.014493
3  2021-02-24 23:59:37.773  49719.7  0.040000
4  2021-02-24 23:59:34.871  49730.3  0.001922
                 timestamp    price  amount
0  2021-02-24 23:59:59.691  49767.0    0.01
1  2021-02-24 23:59:42.786  49752.0    0.06
2  2021-02-24 23:59:42.785  49752.0    0.30
3  2021-02-24 23:59:42.785  49752.0    0.14
4  2021-02-24 23:59:42.046  49744.5    0.34
                 timestamp     price  amount
0  2021-02-24 23:59:57.847  49724.93  0.0200
1  2021-02-24 23:59:49.743  49730.33  0.0200
2  2021-02-24 23:59:35.623  49706.87  0.0200
3  2021-02-24 23:59:04.494  49701.51  0.0025
4  2021-02-24 23:58:58.780  49735.60  0.0002
             timestamp    price  amount
0  2021-02-24 23:59:54  49754.0   0.753
1  2021-02-24 23:59:52  49754.0   0.116
2  2021-02-24 23:59:52  49754.0   0.104
3  2021-02-24 23:59:49  49754.0   0.016
4  2021-02-24 23:59:45  49754.0   0.011

In [8]:
#information sur les caract√®res des donn√©es 

df1.info()
df2.info()
df3.info()
df4.info()
df5.info()
df6.info()
df7.info()
df8.info()
df9.info()
df10.info()
df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  234 non-null    object
 1   price      234 non-null    float64
 2   amount     234 non-null    float64
dtypes: float64(2), object(1)
memory usage: 5.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318667 entries, 0 to 318666
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  318667 non-null  object
 1   price      318667 non-null  float64
 2   amount     318667 non-null  float64
dtypes: float64(2), object(1)
memory usage: 7.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53672 entries, 0 to 53671
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  53672 non-null  object
 1   price      53672 non-null  float64
 2   amount     53672 non-null  float64
dtypes: float64(2), object(1)
memory usage: 1.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26789 entries, 0 to 26788
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  26789 non-null  object
 1   price      26789 non-null  float64
 2   amount     26789 non-null  float64
dtypes: float64(2), object(1)
memory usage: 628.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489110 entries, 0 to 489109
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  489110 non-null  object
 1   price      489110 non-null  float64
 2   amount     489110 non-null  float64
dtypes: float64(2), object(1)
memory usage: 11.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49329 entries, 0 to 49328
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  49329 non-null  object
 1   price      49329 non-null  float64
 2   amount     49329 non-null  float64
dtypes: float64(2), object(1)
memory usage: 1.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30187 entries, 0 to 30186
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  30187 non-null  object
 1   price      30187 non-null  float64
 2   amount     30187 non-null  float64
dtypes: float64(2), object(1)
memory usage: 707.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75090 entries, 0 to 75089
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  75090 non-null  object
 1   price      75090 non-null  float64
 2   amount     75090 non-null  float64
dtypes: float64(2), object(1)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27972 entries, 0 to 27971
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  27972 non-null  object
 1   price      27972 non-null  float64
 2   amount     27972 non-null  float64
dtypes: float64(2), object(1)
memory usage: 655.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12459 entries, 0 to 12458
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  12459 non-null  object
 1   price      12459 non-null  float64
 2   amount     12459 non-null  float64
dtypes: float64(2), object(1)
memory usage: 292.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53284 entries, 0 to 53283
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  53284 non-null  object
 1   price      53284 non-null  float64
 2   amount     53284 non-null  float64
dtypes: float64(2), object(1)
memory usage: 1.2+ MB

-  nous allons cr√©er une colone pour les trads dans chaque fichier afin de les differencier

In [9]:
df1["trad"] = "bfly"
df1.head()

                 timestamp     price  amount  trad
0  2021-02-24 23:59:33.720  49712.15  0.0054  bfly
1  2021-02-24 23:44:16.980  49603.44  0.0770  bfly
2  2021-02-24 22:32:39.320  48864.19  0.1200  bfly
3  2021-02-24 22:15:19.030  48252.47  0.1200  bfly
4  2021-02-24 22:15:17.157  48247.38  0.1200  bfly

In [10]:
df2["trad"] = "bfnx"
df2.head()

                 timestamp    price  amount  trad
0  2021-02-24 23:59:58.181  49716.0   0.010  bfnx
1  2021-02-24 23:59:58.176  49713.0   0.005  bfnx
2  2021-02-24 23:59:51.526  49715.0   0.005  bfnx
3  2021-02-24 23:59:46.698  49726.0   0.005  bfnx
4  2021-02-24 23:59:46.353  49715.0   0.005  bfnx

In [11]:
df3["trad"] = "bnus"
df3.head()

                 timestamp     price    amount  trad
0  2021-02-24 23:59:58.164  49714.50  0.004413  bnus
1  2021-02-24 23:59:57.547  49727.83  0.001496  bnus
2  2021-02-24 23:59:57.244  49727.83  0.002597  bnus
3  2021-02-24 23:59:54.691  49718.68  0.000860  bnus
4  2021-02-24 23:59:51.494  49713.76  0.003694  bnus

In [12]:
df4["trad"] = "btrx"
df4.head()

                 timestamp      price    amount  trad
0  2021-02-24 23:59:48.910  49742.749  0.001054  btrx
1  2021-02-24 23:59:35.050  49734.460  0.009038  btrx
2  2021-02-24 23:59:34.110  49751.270  0.000386  btrx
3  2021-02-24 23:59:31.440  49715.371  0.000554  btrx
4  2021-02-24 23:58:56.180  49751.379  0.000723  btrx

In [13]:
df5["trad"] = "cbse"
df5.head()

                 timestamp     price   amount  trad
0  2021-02-24 23:59:59.873  49737.82  0.00144  cbse
1  2021-02-24 23:59:59.721  49737.82  0.00037  cbse
2  2021-02-24 23:59:59.121  49737.82  0.00294  cbse
3  2021-02-24 23:59:58.989  49737.82  0.00018  cbse
4  2021-02-24 23:59:58.853  49737.82  0.00194  cbse

In [14]:
df6["trad"] = "gmni"
df6.head()

                 timestamp     price    amount  trad
0  2021-02-24 23:59:53.406  49773.07  0.003435  gmni
1  2021-02-24 23:59:53.406  49766.06  0.051690  gmni
2  2021-02-24 23:59:47.280  49746.16  0.122833  gmni
3  2021-02-24 23:59:47.280  49746.17  0.023913  gmni
4  2021-02-24 23:59:40.821  49730.12  0.000571  gmni

In [15]:
df7["trad"] = "itbi"
df7.head()

                 timestamp     price    amount  trad
0  2021-02-24 23:59:48.157  49753.50  0.000100  itbi
1  2021-02-24 23:59:45.463  49753.75  0.000400  itbi
2  2021-02-24 23:59:38.887  49734.50  0.000100  itbi
3  2021-02-24 23:59:33.430  49731.25  0.002097  itbi
4  2021-02-24 23:59:32.240  49730.75  0.000182  itbi

In [16]:
df8["trad"] = "krkn"
df8.head()

                 timestamp    price    amount  trad
0  2021-02-24 23:59:58.649  49727.7  0.000225  krkn
1  2021-02-24 23:59:49.807  49739.9  0.000224  krkn
2  2021-02-24 23:59:43.159  49736.3  0.014493  krkn
3  2021-02-24 23:59:37.773  49719.7  0.040000  krkn
4  2021-02-24 23:59:34.871  49730.3  0.001922  krkn

In [17]:
df9["trad"] = "lmax"
df9.head()

                 timestamp    price  amount  trad
0  2021-02-24 23:59:59.691  49767.0    0.01  lmax
1  2021-02-24 23:59:42.786  49752.0    0.06  lmax
2  2021-02-24 23:59:42.785  49752.0    0.30  lmax
3  2021-02-24 23:59:42.785  49752.0    0.14  lmax
4  2021-02-24 23:59:42.046  49744.5    0.34  lmax

In [18]:
df10["trad"] = "okcn"
df10.head()

                 timestamp     price  amount  trad
0  2021-02-24 23:59:57.847  49724.93  0.0200  okcn
1  2021-02-24 23:59:49.743  49730.33  0.0200  okcn
2  2021-02-24 23:59:35.623  49706.87  0.0200  okcn
3  2021-02-24 23:59:04.494  49701.51  0.0025  okcn
4  2021-02-24 23:58:58.780  49735.60  0.0002  okcn

In [19]:
df11["trad"] = "stmp"
df11.head()

             timestamp    price  amount  trad
0  2021-02-24 23:59:54  49754.0   0.753  stmp
1  2021-02-24 23:59:52  49754.0   0.116  stmp
2  2021-02-24 23:59:52  49754.0   0.104  stmp
3  2021-02-24 23:59:49  49754.0   0.016  stmp
4  2021-02-24 23:59:45  49754.0   0.011  stmp

- nous allons commencer par faire une concatenation par la verticale, car nous avons les meme nom de colonne mais les lignes sont diferente

In [20]:
df=pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11])
df.head()

                 timestamp     price  amount  trad
0  2021-02-24 23:59:33.720  49712.15  0.0054  bfly
1  2021-02-24 23:44:16.980  49603.44  0.0770  bfly
2  2021-02-24 22:32:39.320  48864.19  0.1200  bfly
3  2021-02-24 22:15:19.030  48252.47  0.1200  bfly
4  2021-02-24 22:15:17.157  48247.38  0.1200  bfly

#### Je vais  indexer la DataFrame par la colonne timestamp, pour cela, je vais :

- Convertir la colonne timestamp au format datetime

- D√©finir timestamp comme index

- Trier l'index pour avoir vos donn√©es dans l'ordre chronologique

In [ ]:
# 1. Convertir la colonne 'timestamp' en type datetime (si ce n‚Äôest pas d√©j√† fait)
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [31]:
df.head()

                            price  amount  trad
timestamp
2021-02-24 23:59:33.720  49712.15  0.0054  bfly
2021-02-24 23:44:16.980  49603.44  0.0770  bfly
2021-02-24 22:32:39.320  48864.19  0.1200  bfly
2021-02-24 22:15:19.030  48252.47  0.1200  bfly
2021-02-24 22:15:17.157  48247.38  0.1200  bfly

In [30]:
print(df.columns)

Index(['price', 'amount', 'trad'], dtype='object')

In [23]:
# 2. D√©finir la colonne 'timestamp' comme index
df.set_index('timestamp', inplace=True)

In [37]:
#v√©rifion s'il y a de valeur nulles
df_check_na=df.isnull().values.any()
print(df_check_na)

False

In [38]:
# Declaration d'une date via Pandas
pd.to_datetime("2021-02-24")

Timestamp('2021-02-24 00:00:00')

In [39]:
print(df.dtypes)

price     float64
amount    float64
trad       object
dtype: object

In [40]:
# 3. (Optionnel) Trier l‚Äôindex dans l‚Äôordre chronologique
df.sort_index(inplace=True)

In [41]:
# 4. V√©rifier le r√©sultat
df.head()

                             price    amount  trad
timestamp
2021-02-24 00:00:00.010  48899.990  0.020000  cbse
2021-02-24 00:00:00.027  48899.990  0.410000  cbse
2021-02-24 00:00:00.097  48899.990  1.000000  cbse
2021-02-24 00:00:00.150  48906.607  0.003754  btrx
2021-02-24 00:00:00.218  48900.000  0.000305  cbse

In [ ]:
git add .